body{
  background-color: lightgray;
  border: solid 20px #053C5E;
}
h1{
  color: #646F58;
}
h2{
  color: #646F58;
}
p{
  color: #646F58;
}
button{
  background-color: lightgray;
  color: #646F58;
  border: #053C5E;
}
