<html>
<head>
	<title> Apps </title>

</head>

<body>
	<h1> Info </h1>
	<p> Place for users to jump to diff apps</p>
		<! Include: Plex, Oversear, Nextcloud, >
		
	<h2> What would you like to see?</h2>
		<p> Plex </p>
			<a href="https://www.plex.tv/" target="blank"> <img src="../Pictures/plex.png" alt="Button Description"> </a>
		<p> Oversear </p>
	
	
	<h2> Buttons </h2>
		<p> This is here for testing </p>
		<a href="index.html">
			<button style="background-color: blue; color: white;">index</button>
		</a>
		<a href="Checks.html">
			<button style="background-color: blue; color: white;">Checks</button>
		</a>
	
</body>


</html>