<html>
<head>
	<title> Checks </title>

</head>

<body>
	<h1> Info </h1>
		<p> Meant to be a page for users to check status of the server. </p>
			<!Include: server status, plex, and movies/TV show releases>
	
	<h2> What's my status?</h2>
		<! Include the status bars>
	
	<h2> What Show's are coming out?</h2>
		<! Include Sonarr and Radarr schedules>
	
	<h2> Buttons </h2>
		<p> This is here for testing & Buttons that will be kept </p>
		<a href="index.html">
			<button style="background-color: blue; color: white;">index</button>
		</a>
		<a href="Apps.html">
			<button style="background-color: blue; color: white;">Apps</button>
		</a>
	
</body>


</html>