<html>
<head>
	<title> Glow's Hub </title>

	<style> 
		body {
			background: whitesmoke;
			border: 0px solid yellow;
		}
		h1 {
			color: navy;	
			font-size: 300%;
		}
		h2 {
			color: navy;	
			border: 2px solid black;
			padding: 1px;
			
		}
		p {
			color: 	navy; 
		}
		button{
			background-color: #242582;
		}
		
	
	</style>			  

</head>

<body>
	<h1> Glow </h1>
		<p> Paragraph Put status here or smth </p>
	
	<h2> Buttons </h2>
		<p> Navigation</p>
		<a href="Checks.html">
			<button style= "color: white;">Checks</button>
		</a>
		
		<a href="Apps.html" target="blank"> <!target="blank" makes new tab>
			<button style= "color: white;">Apps</button>
		</a>
		
		<a href="AppsAdmin.html">
			<button style="color: white;">AppsA</button>
		</a>
		
		<a href="ChecksAdmin.html">
			<button style=" color: white;">ChecksA</button>
		</a>
		
	<h2>Any Issues?</h2>
		<p> If you have any issues on the website or a plex video click the button below </p>
		
		
</body>


</html>
