<html>
<head>
	<title> Index </title>

</head>

<body>
	<h1> Glow </h1>
		<p> Paragraph Put status here or smth </p>
	
	<h2> Buttons </h2>
		<p> This is here for testing </p>
		<a href="Checks.html">
			<button style="background-color: blue; color: white;">Checks</button>
		</a>
		<a href="Apps.html" target="blank"> <!target="blank" makes new tab>
			<button style="background-color: blue; color: white;">Apps</button>
		</a>
		<a href="AppsAdmin.html">
			<button style="background-color: blue; color: white;">AppsA</button>
		</a>
		<a href="ChecksAdmin.html">
			<button style="background-color: blue; color: white;">ChecksA</button>
		</a>
</body>


</html>