<html>
	<head>
		<title>Issues</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<meta name="viewport" content="width-device-width, initial-scale=1.0">
		
		<style>
		
		</style>
	</head>

	<body>
		<h1>Problems with server?</h1>
			<p> Please enter below any issues you're having with the server so I can work to fix it </p>
			<p> EX: Bad media file, can't login, status of page, something wrong with the website</p>
	
		<div id="Issues" class="issues">

			  <!-- Temp Login Form -->

			  <div class="LoginForm">

				<form>

				  <label for="email">Email/Username</label>

				  <input type="id" id="id" name="id" required>

				  <label for="Issue">Issue</label>

				  <input type="Issue" id="Issue" name="Issue" required>
				  
				  <input type="submit" value="issues">
				  

				</form>

			  </div>

			</div>
		
	</body>

<html>