<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> New User </title>
		<link rel="stylesheet" href="css/main.css">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>
	<body>

	        <h1> Application Form</h1>
		                <h2> Requirements </h2>
				        <p>Please include name to make it easier to add (Not saved once admitted)</p>
					<p>Password needs the following: 10+ Char, 1 Special Char (Include one of the following !#$%^&*_+|:,.?")</p>

		<form id= "NewUser">
			Username: <input type="text" name="fName" title="Enter your desired username (No special Chars)"><br>
			Email: <input type="email" name="fEmail" title="Enter desired Email"><br>
			Password: <input type="password" name="fPass" id = "pass" title="Enter desired password"><br>
			Confirm Password: <input type="password" name="fConPass" id = "ConPass" title="Confirm Password"><br>
			<span id="passwordMismatch" style="color: red; display: none;">Passwords do not match</span><br>
			Extra Info: <input type="text" name="fExtra"><br>	  
			<input type="submit" value="AddUser"><br>
		</form>

		<script>
		
			$(document).ready(function() {
				

				$('#NewUser').submit(function(event){
					event.preventDefault();

					$.ajax({
						url: '../Backend/PHP/NewUser.php',
						type: 'POST',
						data: { action: 'newUser',
							fName: $('[name="fName"]').val(),
							fEmail: $('[name="fEmail"]').val(),
							fPass: $('[name="fPass"]').val(),
							fConPass: $('[name="fConPass"]').val(),
							fExtra: $('[name="fExtra"]').val()
						},
						success: function(resp){
								if(resp.CheckUsr){
                                                                	if(resp.CheckEmail){
                                                                                if(resp.CheckPass){
                                                                                        alert("Added a user. Wait to be contacted when approved");
                                                                                        window.location.href = "Login.html";
                                                                                }else{alert("Bad Password. Please try again");}
                                                                }else{alert("Bad Email. Please try again");}
                                                        }else{alert("Bad Username. Please try again.");}	

						},
					});
				});


			$('#ConPass').keyup(function() {
				var password = $('#pass').val();
				var confirmedPass = $(this).val();
				if (password != confirmedPass){
					$('#passwordMismatch').show();
				} else {
					$('#passwordMismatch').hide();;
				}
			});


			});
		</script>
		<h2> Login Page below </h2>
		<button onclick="newUser()">Back to Homepage</button>
                <script>
                        function newUser() {
                                window.location.href = "Login.html";
                                }
                </script>
	</body>
</html>
