<!DOCTYPE html>
<html>

	<head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title> GlowWeb </title>
                <link rel="stylesheet" href="css/main.css">
                <link rel="stylesheet" href="css/calendar.css">
                <link rel="stylesheet" href="css/status-grid.css">

        <title> Profile </title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script src="js/checkSes.js"></script>

	<script>
	
	function clearForm() {
        	$('#formContainer').empty(); // Clear form container
    	}
	
	$(document).ready(function(){
                $.ajax({
                        url: '../Backend/PHP/userProfile.php',
                        type: 'GET',
                        data: {action: 'getUser'},
                        success: function(data){
                                $('#usrTable').append(data);

				$('#usrTable').on('click','.changePassword', function() {
						
					clearForm();			
					//Creating Password Change Form
					var form = document.createElement("form");
            	        		form.id = "changePassword";
		                                
                                        var oldPass = document.createElement("label");
        		                oldPass.textContent = "Old Password: ";
					oldPass.setAttribute("for","oldPass");

                		        var oldPassInput = document.createElement("input");
					oldPassInput.id = "oldPass";
					oldPassInput.name = "oldPass";
                		        oldPassInput.type = "password";

		                        form.appendChild(oldPass);
                	                form.appendChild(oldPassInput);
                        		form.appendChild(document.createElement("br"));

		                        var newPass = document.createElement("label");
                	                newPass.textContent = "New Password: ";
					newPass.setAttribute("for", "newPass");

                                	var newPassInput = document.createElement("input");
		                        newPassInput.type = "password";
					newPassInput.id = "newPass";
					newPassInput.name = "newPass";

                                        form.appendChild(newPass);
                                	form.appendChild(newPassInput);
		                        form.appendChild(document.createElement("br"));

                		        var checkPass = document.createElement("label");
                        		checkPass.textContent = "Retype Password: ";
					checkPass.setAttribute("for","checkPass");

		                        var checkPassInput = document.createElement("input");
                	                checkPassInput.type = "password";
					checkPassInput.id = "checkPass";
					checkPassInput.name = "checkPass";

                        		form.appendChild(checkPass);
		                        form.appendChild(checkPassInput);
                		        form.appendChild(document.createElement("br"));
						
					var subButton = document.createElement("button");
					subButton.type = "submit";
					subButton.textContent = "Submit";
					form.appendChild(subButton);
						
					subButton.addEventListener('click', function() {
						event.preventDefault();
						$.ajax({
							url: '../Backend/PHP/userProfile.php',
							type: "POST",
							data: { action: "changePass",
								oldPass: $('#oldPass').val(),
								newPass: $('#newPass').val(),
								checkPass: $('#checkPass').val()
							},
							success: function(resp){
								alert(resp);
							},
                                                        error: function(xhr, status, error){
                                                                alert("Error: " + error);
                                                        }
							
						});
					});

                                	document.getElementById("formContainer").appendChild(form);	
				});

				//Change Email 		
				$('#usrTable').on('click', '.changeEmail', function() {
					clearForm();
				        var form = document.createElement("form");
                                        form.id = "changeEmail";

                                        var newEmail = document.createElement("label");
                                        newEmail.textContent = "New Email: ";
                                        newEmail.setAttribute("for", "newEmail");

                                        var newEmailInput = document.createElement("input");
                                        newEmailInput.type = "email";
                                        newEmailInput.id = "newEmail";                                                newEmailInput.name = "newEmail";

                                        form.appendChild(newEmail);
                                        form.appendChild(newEmailInput);
                                        form.appendChild(document.createElement("br"));

                                        var subButton = document.createElement("button");
                                        subButton.type = "submit";
                                        subButton.textContent = "Submit";
                                        form.appendChild(subButton);

                                        subButton.addEventListener('click', function() {
                                                event.preventDefault();
                                                $.ajax({
                                                        url: '../Backend/PHP/userProfile.php',
                                                        type: "POST",
                                                        data: { action: "changeEmail",
                                                                newEmail: $('#newEmail').val()
                                                        },
                                                        success: function(resp){
                                                                alert(resp);
                                                        },
                                                        error: function(xhr, status, error){
                                                                alert("Error: " + error);
                                                        }
                                                });
                                        });

                                        document.getElementById("formContainer").appendChild(form);
				});

                                //Change 2FA
                                $('#usrTable').on('click', '.change2FA', function() {
                                        clearForm();
                                        var form = document.createElement("form");
                                        form.id = "changePhone";

                                        var newPhone = document.createElement("label");
                                        newPhone.textContent = "New Phone Number: ";
                                        newPhone.setAttribute("for", "newPhone");

                                        var newPhoneInput = document.createElement("input");
                                        newPhoneInput.type = "text";
                                        newPhoneInput.id = "newPhone";
                                        newPhoneInput.name = "newPhone";

                                        form.appendChild(newPhone);
                                        form.appendChild(newPhoneInput);
                                        form.appendChild(document.createElement("br"));

                                        var subButton = document.createElement("button");
                                        subButton.type = "submit";
                                        subButton.textContent = "Submit";
                                        form.appendChild(subButton);

                                        subButton.addEventListener('click', function() {
                                                event.preventDefault();
                                                $.ajax({
                                                        url: '../Backend/PHP/userProfile.php',
                                                        type: "POST",
                                                        data: { action: "changePhone",
                                                                newPhone: $('#newPhone').val()
                                                        },
                                                        success: function(resp){
                                                                alert(resp);
                                                        },
                                                        error: function(xhr, status, error){
                                                                alert("Error: " + error);
                                                        }

                                                });
                                        });

                                        document.getElementById("formContainer").appendChild(form);
                                });
                        },
                        error: function(xhr, status, error){
                                alert("Error: " + error);
                        } 
                });
        });
	</script>

</head>

	<body>
        	<h1> Users </h1>
                <table id="usrTable">
                        <tr>
                                <th> User </th>
                                <th> Email </th>
                                <th> Rights </th>
                                <th> Admin </th>
                                <th> Actions </th>
                        </tr>
                </table>

	        <button onclick="apps()">Home Page</button>
        	<script>
	                function apps() {
                	        window.location.href = "Apps.html";
        	        }
	        </script>

		<div id="formContainer" class="form-container"></div>

		<script>
		document.addEventListener("DOMContentLoaded", function(){
			function change2FA(){

			}

			function changeEmail(){

			}
		});
		</script>

        </body>

</html>
